@import "_variables";
@import "reset";

body {
  background-color: #fff;
  color: #000;
  font-family: "Union-Regular",Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1rem;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: #FFF;
  color: #000;
  line-height: 2.5rem;

  .header-left-pannel {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    width: 66.66%;
    color: #d9dadb;
    background: #fff;
    position: relative;

    .hover {
      color: green;
      background-color: red;
    }

    .logo {
      display: inline-block;
      width: 16.66%;
      height: 3rem;
      padding: 0 .75rem;
      line-height: 2.75rem;
      text-decoration: none;
      color: #000;
    }

    .transparent-button {
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
      }

      .close-panel-button {
        right: calc(33.33vw + 1rem);
        position: fixed;
        pointer-events: auto;
        z-index: 2;
        top: 0;
        width: 3rem;
        height: 3rem;
        transition: transform .25s ease, -webkit-transform .25s ease;
      }

    .button-cross {
      font-size: 2rem;
    }


    .header-pannel, .expanded{
      overflow-x: hidden;
      overflow-y: auto;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      padding-bottom: 140px;
      background-color: #E0E1E2;
      color: #000;
      pointer-events: auto;
      cursor: auto;


      section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border-bottom: 1px solid #000;
        background-color: #E0E1E2;
        padding-bottom: 1rem;

        &:nth-child(5) {
          border-bottom: none;
        }

        .p-title {
          display: inline-block;
          width: 11.66%;
          padding: 0 .75rem;
        }

        .pannel-section {
          width: 66.66%;
          padding: .75rem;
          font-size: 14px;
          line-height: 1.1rem;
        }

        p, ul {
          margin-bottom: 1rem;
        }
      }

          }

    .menu-about {
      display: block;
      flex-direction: row;
      width: 100%;
      height: 3rem;
      line-height: 2.75rem;
    }

    span {
      display: inline-block;
      margin-right: 3rem;

      &:first-child {
        padding-left: .75rem;
      }
    }
  }

  .header-right-pannel {
    position: relative;
    display: flex;
    align-items: center;
    width: 33.333%;
    height: 3rem;
    font-size: 30px;
    cursor: pointer;

    &:hover {
      color: #000;
      background-color: #E0E1E2;
    }

    .menu-right {
      text-decoration: none;
      color: #000;

      &:nth-child(1) {
        width: 33.33%;
        padding-left: .75rem;
        padding-right: .75rem;
      }

      &:nth-child(2) {
        width: 66.66%;
        padding-left: .75rem;
        padding-right: .75rem;
      }
    }

    .last-menu {
      position: absolute;
      z-index: 1;
      top: 2px;
      right: 0;
      padding: 0 1rem;

      .last-item {
        text-decoration: none;
        color: #000;
        font-size: 14px;
      }
    }
  }
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  background-color: #fff;

  img {
    vertical-align: middle;
    width: 100%;
    transition: opacity .25s ease;
    background-color: #FFF;
  }

  .title {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 2rem;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 .75rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
  }
}



